---
layout: default
smversion: 0.7
---


<div class="controls">
  {% for pg in site.pages %}
    {% if pg.partof == "getting-started" and pg.outof and pg.smversion == page.smversion %}
      {% assign totalPagesTour = pg.outof %}
    {% endif %}
  {% endfor %}

  {% if totalPagesTour %}
    {% for i in (1..totalPagesTour) %}
      {% for pg in site.pages %}
        {% if pg.partof == "getting-started" and pg.num and pg.num == i and pg.smversion == page.smversion %}
          {% capture isprev %}{{ pg.num | minus: page.num }}{% endcapture %}
          {% capture isnext %}{{ page.num | minus: pg.num }}{% endcapture %}
          {% if pg.num == page.num %}
            <!--<a href="{{ page.url }}" id="center">{{ page.title }}</a>-->
            <a id="center">&nbsp;</a>
          {% elsif isprev contains '-1' %}
            <a href="{{ pg.permalink }}" id="left">&#8249; {{ pg.title }}</a>
          {% elsif isnext contains '-1' %}
            <a href="{{ pg.permalink }}" id="right">{{ pg.title }} &#8250;</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% else %}
    **ERROR**. Couldn't find the total number of pages in this set of tutorial articles. Have you declared the `outof` tag in your YAML front matter?
  {% endif %}
</div>


{{ content }}


<div class="controls">
  {% for pg in site.pages %}
    {% if pg.partof == "getting-started" and pg.outof and pg.smversion == page.smversion %}
      {% assign totalPagesTour = pg.outof %}
    {% endif %}
  {% endfor %}

  {% if totalPagesTour %}
    {% for i in (1..totalPagesTour) %}
      {% for pg in site.pages %}
        {% if pg.partof == "getting-started" and pg.num and pg.num == i and pg.smversion == page.smversion %}
          {% capture isprev %}{{ pg.num | minus: page.num }}{% endcapture %}
          {% capture isnext %}{{ page.num | minus: pg.num }}{% endcapture %}
          {% if pg.num == page.num %}
            <!--<a href="{{ page.url }}" id="center">{{ page.title }}</a>-->
            <a id="center">&nbsp;</a>
          {% elsif isprev contains '-1' %}
            <a href="/home/gettingstarted/{{ pg.smversion }}/{{ pg.permalink }}" id="left">&#8249; {{ pg.title }}</a>
          {% elsif isnext contains '-1' %}
            <a href="/home/gettingstarted/{{ pg.smversion }}/{{ pg.permalink }}" id="right">{{ pg.title }} &#8250;</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% else %}
    **ERROR**. Couldn't find the total number of pages in this set of tutorial articles. Have you declared the `outof` tag in your YAML front matter?
  {% endif %}
</div>
